body{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    box-sizing: border-box;
}
h1{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100px;
    background-color: cornflowerblue;
}
p{
    text-align: center;
}
.pierre, .papier, .ciseaux{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pierre{
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: grey;
}
.papier{
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: rgb(34, 34, 34);

}
.ciseaux{
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: rgb(72, 72, 72);

}
.adversaire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: deeppink;
}
.random{
    height: 200px;
    width: 200px;
    display: block;
    background-color: rgb(72, 72, 72);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonPlay{
    cursor: pointer;
    margin-top: 50px;
    height: 100px;
    width: 200px;
    position: relative;
    left: 670px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    border: none;       
}
.buttonPlay:hover{
    border-radius: 20px;
}
#mainGame{
    background-color: darkorchid;
    height: 400px;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.monChoix{
    width: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.count{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}
.countContent{
    background-color: white;
    height: 70px;
    width: 70px;
    margin-right: 20px;
}
.win{
    position: relative;
    left: 300px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}