@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Lato:ital,wght@1,300&family=Quicksand:wght@300&family=Ysabeau:wght@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(154, 154, 154);
    font-family: 'Jura', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
    --border-radius: 15px;
    --btn-padding: 20px;
}
.score {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    font-size: 20px;
    /* background-color: #fddf7f; */
    padding: var(--btn-padding);
    border-radius: 15px;
}
.texte-score{
    margin-right: 30px;
    margin-left: 30px;
    color: #fddf7f;
}

#reset {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fddf7f;
    margin-left: 50px;
}

#reset:hover {
    background-color: #fddf7f;
    color: rgb(154, 154, 154);
}

.action {
    text-align: center;
}

#message {
    color: #fddf7f;
    font-weight: 700;
    font-size: 25px;
}
header{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
h1{
    color: #fddf7f;
}
#next {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #fddf7f;
    color: rgb(154, 154, 154);
    border-radius: var(--border-radius);
    visibility: hidden;
    cursor: pointer;
}
#next.active {
    visibility: visible;
}
.jeu {
    /* border-top: 2px solid #fddf7f; */
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 600px;
}
.button {
    /* display: flex;
    align-items: center; */
    font-size: 30px;
    padding: var(--btn-padding);
    text-align: center;
}
.btn-joueur,
.btn-ordi {
    border-radius: 15px;
    transition: all 0.2s ease;
}
.btn-ordi{
    color: #fddf7f;
}
.btn-joueur {
    color: rgb(154, 154, 154);
    cursor: pointer;
    background-color: #fddf7f;
}

.btn-joueur:hover {
    color: #fddf7f;
    background-color: white;
}

.button p {
    margin-left: 20px;
}

.button:not(:last-child) {
    margin-bottom: 40px;
}

.btn-joueur.desactivated {
    cursor: default;
    background-color: rgb(154, 154, 154);
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
    color: inherit;
}

.btn-joueur.active {
    background-color: white;
}

.btn-ordi.active {
    background-color: white;
}
/* #pierre, #papier, #ciseaux{
    display: block;
} */
.img_thunder_centre{
    position: absolute;
    left: 700px;
    top: 400px;
}