@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Lato:ital,wght@1,300&family=Quicksand:wght@300&family=Ysabeau:wght@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(154, 154, 154);
    font-family: 'Jura', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
h1{
    color: #fddf7f;
}
h2{
    color: #fddf7f;
    margin-bottom: 20px;
}
.choix_joueur{
    margin-left: 20px;
}
.score {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
}
.texte-score{
    margin-right: 30px;
    margin-left: 30px;
    color: #fddf7f;
}
#reset {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fddf7f;
    margin-left: 50px;
}

#reset:hover {
    background-color: #fddf7f;
    color: rgb(154, 154, 154);
}

.action {
    text-align: center;
}

#message {
    color: #fddf7f;
    font-weight: 700;
    font-size: 25px;
}
#next {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fddf7f;
    color: rgb(154, 154, 154);
    border-radius: 15px;
    visibility: hidden;
    cursor: pointer;
}
#next.active {
    visibility: visible;
}
.score_p{
    background-color: #fddf7f;
    font-size: 22px;
    width: 30px;
    padding-left: 8px;
    border-radius: 10px;
    color: #7d7d7d;
}
.jeu {
    padding-top: 20px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 600px; */
}
.button {
    font-size: 30px;
    text-align: center;
}
.btn-joueur,
.btn-ordi {
    border-radius: 15px;
    transition: all 0.2s ease;
}
.btn-ordi{
    color: #fddf7f;
}
.btn-joueur {
    color: rgb(154, 154, 154);
    cursor: pointer;
}

.btn-joueur:hover {
    color: #fddf7f;
    background-color: white;
}

.button p {
    margin-left: 20px;
}

.button:not(:last-child) {
    margin-bottom: 40px;
}

.btn-joueur.desactivated {
    cursor: default;
    background-color: rgb(154, 154, 154);
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
    color: inherit;
}

.btn-joueur.active {
    background-color: #fddf7f;
}

.btn-ordi.active {
    background-color: #fddf7f;
}

#jeu_section, .jeu{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.choix, .img_thunder_centre{
    margin-right: 140px;
    margin-left: 140px;
}
@media all and (max-width: 820px) {
    .choix, .img_thunder_centre{
        margin-right: 0;
        margin-left: 0;
    }
    .img_elements{
        height: 70px;
    }
    .score{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    #reset{
        margin-right: 45px;
    }
    #next{
        margin: 0;
    }
    body{
        padding: 15px;
    }
    .thunder{
        height: 120px;
    }
}
